$color-primary: #aaceec;
$color-secondary: #fcc866;
$color-tertiary: #fefcf9;

$color-blue: #4287f5;

$color-white: #f5e9d9;
$color-black: #362f2f;

$color-text: #000;

$color-incorrect: #cc3e53;
$color-selected: #74b6e4;
$color-correct: #4caf50;

$color-danger: #ff7f78;

$color-red: #e9585e;
$color-orange: #e9585e;
$color-yellow: #e9e949;
